## Importing the necessary libraries

In [2]:
import numpy as np
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder

## Load the dataset

In [4]:
dataset = pd.read_csv('titanic.csv')
#print(dataset.head())

   PassengerId  Survived  Pclass  \
0            2         1       1
1            4         1       1
2            7         0       1
3           11         1       3
4           12         1       1

                                                Name     Sex   Age  SibSp  \
0  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
2                            McCarthy, Mr. Timothy J    male  54.0      0
3                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
4                           Bonnell, Miss. Elizabeth  female  58.0      0

   Parch    Ticket     Fare Cabin Embarked
0      0  PC 17599  71.2833   C85        C
1      0    113803  53.1000  C123        S
2      0     17463  51.8625   E46        S
3      1   PP 9549  16.7000    G6        S
4      0    113783  26.5500  C103        S

## Identify the categorical data

In [15]:
categorical_data = [ 'Pclass', 'Sex',  'Embarked']

## Implement an instance of the ColumnTransformer class

In [16]:
ct = ColumnTransformer(
   transformers = [
       ('encoder', OneHotEncoder(), categorical_data),
       ('labelencoder', OrdinalEncoder(), ['Survived'])
    ],
   remainder='passthrough'                    
)

## Apply the fit_transform method on the instance of ColumnTransformer

In [17]:
encoded_data = ct.fit_transform(dataset)

## Convert the output into a NumPy array

In [18]:
encoded_array = np.array(encoded_data)

## Print the updated matrix of features and the dependent variable vector

In [19]:
print(encoded_array)

[[1.0 0.0 0.0 ... 'PC 17599' 71.2833 'C85']
 [1.0 0.0 0.0 ... '113803' 53.1 'C123']
 [1.0 0.0 0.0 ... '17463' 51.8625 'E46']
 ...
 [1.0 0.0 0.0 ... '11767' 83.1583 'C50']
 [1.0 0.0 0.0 ... '112053' 30.0 'B42']
 [1.0 0.0 0.0 ... '111369' 30.0 'C148']]